

<!-- <div class="container"> -->
  
  <div class="content">
    <div class="title">
     <!--  <img src="../assets/img/logo.jpg" style="width:40" alt="Logo"/> -->
      <img src="../assets/img/inicio.jpg" style="width:40" alt="inicio" class="logg"/>
        <!-- 
      <h1>MAVELSA </h1> -->
    </div>
    
   <div class="content_table">
    <button class="btn btn_resultados" (click)="fleitas()">Resultados</button>
    <table class="table-responsive"> 
      
      <tr style="background-color:rgb(252, 252, 252);">
        <td><span>Folio:</span></td>
        <td>416843</td>
      </tr>
      <tr style="background-color: rgba(236, 236, 236, 0.863);">
        <td ><span>Resultado:</span></td>
        <td><span>NEGATIVE</span></td>
      </tr>
      <tr style="background-color:rgb(252, 252, 252);">
        <td><span>Nombre:</span></td>
        <td>Catherine</td>
      </tr>
      <tr style="background-color: rgba(236, 236, 236, 0.863);">
        <td><span>Apellido:</span></td>
        <td>Tissierre</td>
      </tr>
      <tr style="background-color:rgb(252, 252, 252);">
        <td ><span>Fecha de Toma:</span></td>
        <td>2021-09-11  07:41 PM</td>
      </tr>
      <tr style="background-color: rgba(236, 236, 236, 0.863);">
        <td><span>Fecha de Resultado:</span></td>
        <td>2021-09-12  01:52 PM</td>
      </tr>
      <tr style="background-color:rgb(252, 252, 252);">
        <td ><span>Tipo de Prueba:</span></td>
        <td>RT-PCR Molecular Detection of the SARS-CoV-2 Virus</td>
      </tr>
      <tr style="background-color: rgba(236, 236, 236, 0.863);">
        <td ><span>Metodo:</span></td>
        <td>NasoPharyngeal (np) Swab Only In Viral   Transport Media (vtm)</td>
      </tr>

  </table>
   </div>

   <div class="line_final2">  </div>
    <div class="card-container">
      
  
    <!-- Footer -->
    <footer>
       Mavelsa © 2021 Derechos Reservados
       
    </footer>

    <div class="line_final">  </div>
  
  </div>
  
</div>